#foo:checked,
 input[type="radio"]:checked+label {
 	color: #17A4E5;
 	font-weight: bold;
 	font-size: 14px;
 }

 input[type="radio"]:not(checked)+label {
 	font-size: 14px;
 }

#answers {
	margin-left: 1.0rem;
}

#exam-timer {
	width: 45px;
}